.editable-address {
    display: block;
    margin-bottom: 5px;
}

.editable-address span {
    width: 70px;
    display: inline-block;
}

input[type="password"]{
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

#row-password {
  width: 20%;
}

body {
  font-size: 110%;
}

#box {
  padding: 15px;
  border-radius: 3px;
  background: rgb(34,34,34);
  background: rgba(0,0,0,0.2);
  margin-top: 20px;
}
