{% extends "main/main.html" %}
{% load staticfiles %}
{% load static swampdragon_tags %}

{% block extrahead %}

 <!--Load the AJAX API-->
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'titulo' );
        data.addColumn('number', 'valor' );

        data.addRows([
          ['Danger',  {{ danger_count }}  ],
          ['Warning',  {{ warning_count }}  ],
          ]);

        var options = {'title':'contador:',
                       'width':350,
                       'backgroundColor':'transparent',
                       'height':350,
                       'colors': ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6'],
                       'pieHole': 0.3,
                       };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }


    </script>

<style>
input[type="password"]{
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

#row-password {
  width: 20%;
}

body {
  font-size: 110%;
}

#box {
  padding: 15px;
  border-radius: 3px;
  background: rgb(34,34,34);
  background: rgba(0,0,0,0.2);
  margin-top: 20px;

}

#popinfo.tooltip {
  position: relative;
  display: inline;
  background: rgb(34,34,34);
  background: rgba(0,0,0,0.2);

}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
</style>

{% endblock %}


<body>
{% block content %}
<div class="container">

<h4>TEST WIDGETS</h4>
  <div id="box" style="width:500px;">
     <ul style="list-style-type:none; text-align: left;">
     <h4 style="text-align:center; top:-20px; position:relative;" data-toggle="tooltip">System Counter</h4>
     {% load static swampdragon_tags %}
     <li> <b>Numero de instancias SAP:</b><b id="instancias_count"></b></li>
     <li> <b>Sistemas en status Danger:</b><b id="danger_count"></b></li>
     <li> <b>Sistemas en status Warning:</b><b id="warning_count"></b></li>
     </ul> 
  </div>
</div>

<!-- TESTS -->
<div id="box" style="width:500px;">
    <div id="chart_div"></div>
<button class="btn btn-lg btn-success" disabled><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></button>

<a data-toggle="modal" href="#example" class="btn btn-primary btn-large">Abrir ventana modal</a>

<div id="example" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
        <a data-dismiss="modal" class="close">×</a>
        <h3>Cabecera de la ventana</h3>
     </div>
     <div class="modal-body">
         <h4>Texto de la ventana</h4>
        <p>Mas texto en la ventana.</p>                
    </div>
    <div class="modal-footer">
        <a href="index.html" class="btn btn-success">Guardar</a>
        <a href="#" data-dismiss="modal" class="btn">Cerrar</a>
    </div>
</div>

</div>
<!-- TESTS -->

{% endblock %}
{% block js %}
{% swampdragon_settings %}
<!-- SwampDragon -->
<script type="text/javascript" src="{% static "swampdragon/js/vendor/sockjs-0.3.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "swampdragon/js/dist/swampdragon.js" %}"></script>
<script type="text/javascript" src="{% static "swampdragon/js/dist/datamapper.js" %}"></script>
<script type="text/javascript" src="{% static "swampdragon/js/legacy/swampdragon-vanilla.js" %}"></script>
<script type="text/javascript" src="http://localhost:9999/settings.js"></script>

<!-- Monitor en tiempo real -->
<script type="text/javascript" src="{% static 'notify/monitor.js' %}"></script>

<script type="text/javascript">
</script>

{% endblock js %}

  </body>

