{% extends "main/main.html" %}
{% load staticfiles %}
{% block extrahead %}
<link href="{% static "locker/css/locker.css" %}" rel="stylesheet">
<style>
</style>
{% endblock %}

<body>
{% block content %}
<div class="container">
<h4>Lock vault</h4>

<div id="box">
	<div class='btn-group btn-group-xs pull-left btn-group-box'>
        <button type='button' class='btn btn-default-in-box dropdown-toggle' data-toggle='modal' aria-haspopup='true' aria-expanded='false' data-target="#loginModal">
            <span class='glyphicon glyphicon-plus'></span>
        </button>
	</div>


<table id="table"
data-toggle="table"
data-search="true"
data-show-columns="true"
data-pagination="true"
data-page-list="[10, 25, 50, 100]"
>
  <thead>
           <tr>
		 <th
			data-field="TITLE"
			data-halign="center"
			data-sortable="true">
		        TITLE	
		 </th>
		 <th
                        data-field="USERNAME"
			data-halign="center"
			data-sortable="true">
			USERNAME
		 </th>
		 <th
                        data-field="PASSWORD"
			data-halign="center"
                        data-sortable="true">
			PASSWORD
		 </th>
		 <th
                        data-field="URL"
                        data-halign="center"
                        data-sortable="true">
		        URL	
		 </th>
		 <th
                        data-field="NOTES"
                        data-halign="center"
                        data-sortable="true">
			NOTES
		 </th>
           </tr>
  </thead>

  <tbody>

                                        {% for row in todo %}
            <tr>
         <td> {{ row.title }}</td>
         <td> {{ row.username }}</td>
         <td id="password">
             <div class="showpass""> OCULTO </div>
             <div class="hidepass" style="display:none;">{{ row.password }}</div>
         </td>
         <td> {{ row.url }}</td>
         <td> {{ row.notes }}</td>
            </tr>

                                        {% endfor %}

  </tbody>
</table>
</div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Add Locker</h5>
            </div>
            <div class="modal-body">
                <form id="loginForm" name="form" action="" method="post" class="form-horizontal">
		{% csrf_token %}
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Username</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="username" />
                        </div>
                    </div>

{% for field in form %}
    <div class="form-group">
        <div class="col-xs-5">
        <label class="col-xs-3 control-label">{{ field.label_tag }}</label>
             {{ field.errors }}
                        <div class="col-xs-5">
{{field}}
                        </div>
        </div>
    </div>
{% endfor %}

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
    <script src="{% static "locker/js/locker.js" %}"></script>

{% endblock %}

  </body>
